unitedflightsapi-1.0.0-SNAPSHOT-mule-application/META-INF/mule-src/unitedflightsapi/src/main/mule/unitedflights.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="unitedflights-httpListenerConfig">
        <http:listener-connection host="localhost" port="8084" />
    </http:listener-config>
    <apikit:config name="unitedflights-config" api="unitedflights.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="unitedflights-main">
        <http:listener config-ref="unitedflights-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="0ef7e05d-a7f1-47c2-9931-5d5dde74fe90" name="unitedflightsSub_Flow"/>
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="unitedflights-console">
        <http:listener config-ref="unitedflights-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="unitedflights-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <sub-flow name="unitedflightsSub_Flow" doc:id="048562bd-a888-4c67-a86d-91311e1824dd" >
		<set-variable value="#[message.attributes.queryParams.flow]" doc:name="Set Variable" doc:id="703fe167-d3c3-4437-8ff1-cc30eeb62de5" variableName="flow"/>
		<choice doc:name="Choice" doc:id="ac31af08-863a-4567-8ed8-a39332d7ed09" >
			<when expression='#[vars.flow == "filter"]'>
				<flow-ref doc:name="Flow Reference" doc:id="0d27e511-7597-49b7-85ea-f5c5b286fdd9" name="get:\UnitedFlights\Filter:unitedflights-config"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Reference" doc:id="b40143ae-1010-48a0-8a81-efe1cf115d9a" name="get:\UnitedFlights:unitedflights-config"/>
			</otherwise>
		</choice>
	</sub-flow>
	<flow name="get:\UnitedFlights\Filter:unitedflights-config" doc:id="30e116b5-5ab1-4857-a009-ee891d443642">
		<ee:transform doc:name="Transform Message" doc:id="f39ae969-0649-4588-acbb-946428ec8fac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
  {
    "Airline Name": "United",
    "Code": "rree1093",
    "From": "MUA",
    "To": "SFO",
    "Plan Date": "2016-02-11T00:00:00",
    "Available Seats": 1,
    "Price": 142.0,
    "PlaneType": "Boeing 737"
  },
  {
    "Airline Name": "United",
    "Code": "eefd1994",
    "From": "MUA",
    "To": "SFO",
    "Plan Date": "2016-01-01T00:00:00",
    "Available Seats": 0,
    "Price": 676.0,
    "PlaneType": "Boeing 777"
  },
  {
    "Airline Name": "United",
    "Code": "ffee2000",
    "From": "MUA",
    "To": "SFO",
    "Plan Date": "2016-02-20T00:00:00",
    "Available Seats": 30,
    "Price": 300.0,
    "PlaneType": "Boeing 737"
  },
  {
    "Airline Name": "United",
    "Code": "eefd3000",
    "From": "MUA",
    "To": "SFO",
    "Plan Date": "2016-02-01T00:00:00",
    "Available Seats": 0,
    "Price": 900.0,
    "PlaneType": "Boeing 737"
  },
  {
    "Airline Name": "United",
    "Code": "rree4567",
    "From": "MUA",
    "To": "SFO",
    "Plan Date": "2016-01-20T00:00:00",
    "Available Seats": 100,
    "Price": 456.0,
    "PlaneType": "Boeing 737"
  },
  {
    "Airline Name": "United",
    "Code": "ER38sd",
    "From": "MUA",
    "To": "SFO",
    "Plan Date": "2015/03/20",
    "Available Seats": 0,
    "Price": 400.0,
    "PlaneType": "Boeing 737"
  },
  {
    "Airline Name": "United",
    "Code": "ER45if",
    "From": "MUA",
    "To": "LAX",
    "Plan Date": "2015/02/11",
    "Available Seats": 52,
    "Price": 345.99,
    "PlaneType": "Boeing 737"
  },
  {
    "Airline Name": "United",
    "Code": "ER38sd",
    "From": "MUA",
    "To": "SFO",
    "Plan Date": "2015/03/20",
    "Available Seats": 0,
    "Price": 400.0,
    "PlaneType": "Boeing 737"
  },
  {
    "Airline Name": "United",
    "Code": "ER45if",
    "From": "MUA",
    "To": "LAX",
    "Plan Date": "2015/02/11",
    "Available Seats": 52,
    "Price": 345.99,
    "PlaneType": "Boeing 737"
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---

		(payload filter ($."Airline Name" == attributes.queryParams.airlineName )
        filter ($."From" == attributes.queryParams.Origin)
        filter ($."Price" > attributes.queryParams.Price)
        filter ($."To" == attributes.queryParams.Destination)
        filter ($."Available Seats">attributes.queryParams.emptySeats)
        
        )
	
  
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\UnitedFlights:unitedflights-config" doc:id="f0df91d7-ed53-4a94-a181-501fce2c014d">
        <file:read doc:name="Read" doc:id="f53cbaf3-0ea4-4f2a-8b9c-67d45013b33e" path="C:\Users\GI20416241\Desktop\New folder\United.json" />
		<ee:transform doc:name="Transform Message" doc:id="5ac9a934-8e45-4f16-bb4c-c968457ca2b6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="unitedflightsFlow" doc:id="5dd22afc-8bb6-4e8f-8314-6c7a71e23600">
		<apikit:router config-ref="unitedflights-config" />
	</flow>
</mule>
